.elements__like_active {
    width: 22px;
    height: 19px;
    margin-right: 30px;
    background: url(../../../../images/like-active.svg) center no-repeat;
    background-size: 21px 19px;
    border: none;
    cursor: pointer;
    transition: opacity 1s;
  } 

  .elements__like_active:hover {
    opacity: .6;
  }